{% extends "ambientsampling/base.html" %}

{% block content %} 

{% if user.is_authenticated %}

<h3> Labs Sampling </h3>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
        {{ LabtestData.as_p }}
    
    <button class="btn btn-primary" type="submit"> submit </button>

</form>

{% else %}
<li><a class='nav navbar-right' href="{% url 'login' %}"></a></li>

{% endif %}

{% endblock %}
