{% extends "ambientsampling/base.html" %}

{% block content %} 

{% if user.is_authenticated %}

<h3> Ambs Sampling </h3>

<form method="POST">
    {% csrf_token %}
    <ul>
        {{ OnsiteDataForm.as_ul }}
    </ul>
    <button class="btn btn-primary" type="submit"> submit </button>

</form>

{% else %}
<li><a class='nav navbar-right' href="{% url 'login' %}"></a></li>

{% endif %}

{% endblock %}
